@import '../styles/mixins';


.galleria-header {
    img {
        // margin-top: 20px;
    }

    hr {
        @include hr;
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1330px) {
    .galleria-header img {
        padding-left: 40px;
        padding-top: 15px;
    }
}


/* Mobile */
@media (max-width: 768px) {
    .galleria-header img {
        padding-left: 36px;
        padding-top: 15px;
    }
}