.galleria-header {
    img {
        margin: 25px 0 20px 0;
    }

    hr {
        width: 1360px;
        border: none;
        height: 1px;
        background-color: #e5e5e5;
        margin-bottom: 40px;
    }
}