@import "./_mixins";

.modal {
    background: rgba(black, 0.85);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;

    img {
        height: 80%;
    }
}

.closeModalBtn {
    position: absolute;
    top: 40px;
    right: 450px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: $font;
}

/* Mobile */
@media (max-width: 740px) {
    .modal {
        img {
            width: 327px;
            object-fit: contain;

        }

        .closeModalBtn {
            right: 75px;
            top: 110px;
        }
    }
}