@font-face {
    font-family: "Libre Baskerville";
    /* serif */
    src: local("Lora"),
        url("../../../public/assets/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
}

.image-grid {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    position: absolute;

    .column {
        flex: 0 0 calc(25% - 18px);

        .image-item {
            text-align: left;
            position: relative;
            margin-bottom: 7px;

            img {
                max-width: 100%;
                height: auto;
                display: block;
                position: relative;
            }

            .painting-info {
                font-family: "Libre Baskerville";
                padding-left: 25px;
                color: #ffff;
                font-weight: 400;
                position: relative;
                z-index: 1;
                height: 0px;
                bottom: 6em;
                padding-bottom: 9px;


                .painting-name {
                    font-weight: 700;
                    font-size: 1.12em;
                    margin-bottom: 0;
                    max-width: 80%;
                }

                .artist-name {
                    font-weight: 100;
                    font-size: .6em;
                    margin-top: 6px;
                }
            }
        }
    }
}

.image-item:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(3, 3, 3, 0.755), rgba(64, 64, 64, 0));
    pointer-events: none;
}