.wrapper {
  width: 70%;
  margin: auto;
  position: relative;

  .galleria-header {

    img {
      margin: 40px 0;
    }

    hr {
      border: none;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

}